@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
/* CSS HEX */
:root{
  --baby-powder: #fffffaff;
  --davys-grey: #515052ff;
  --rich-black-fogra-39: #000103ff;
  --jet: #333138ff;
  --tart-orange: #ff312eff;
}

*{
  margin: 0;
  padding: 0;

}

.main{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
}


/* nav */

nav{
  padding: 2rem 1rem 2rem 1rem;
  background-color: var(--rich-black-fogra-39);
  color: var(--baby-powder);
  display: flex;
  justify-content: flex-start;

}

nav .logo{
  flex-grow: 1;

  margin: 0;
}
nav .logo img{

  width: 2rem;
  height: 2rem;
}
nav .header,a{
  flex-grow: 4;
  font-size: larger;
  color: var(--baby-powder);
  text-decoration: none;
  
}


/* nav end */


/* footer start */

footer{
  padding: 2rem 1rem 2rem 1rem;
  background-color: var(--jet);
  color: var(--baby-powder);

}


/* footer end */


/* create form */

.create-card{
  padding: 1rem;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.note-title{
  text-align: center;
  margin: 0;
}


.create_form{

  padding: 1rem;
  display: flex;
  justify-content:space-between;
  flex-wrap:   wrap;
 
}


.form_element{
  margin: 0.5rem 1rem 0.5rem 1rem;
  padding: 0 1rem 0 1rem;
  
  
}

.create_form input{
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 150px;
  margin-left: 0.5rem;
  /* background-color: rebeccapurple; */
}


.form_element label{
  width: 300px;
  /* background-color: rebeccapurple; */
}


.create_form input[type=text]:focus {
  background-color: #F7F7F7;
  border: none;
}
.form_btn{
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 0.5rem 1rem 0.5rem 1rem;
  /* background-color: var(--tart-orange); */
  background-color: rebeccapurple;
  color: var(--baby-powder);
  border: none;
  border-radius: 10px;
 
  
}

/* create form */


/* get form */

.getlist{
background-color: lightblue;
}

  
.getlist ul {
  list-style-type: none;

}

.note-card{
  padding: 1rem;
  display: flex;
  justify-content: start;
  gap: 8rem;
  line-height: 1.6;
}

.note-id{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--rich-black-fogra-39);
  color: var(--baby-powder);
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-content{

}

.card-button{
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 0.5rem 1rem 0.5rem 0;
  background-color: var(--tart-orange);
  color: var(--baby-powder);
  border: none;
  border-radius: 10px;
 
}


/* get form */


/* update card */


.updatecard{

  background-color: var(--baby-powder);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.updateForm{
  padding: 1rem;
  background-color:var(--jet);
  color: var(--baby-powder);
  width: 50vh;
  height: 50vh;
  line-height:3;
}

.form-title{
  font-weight: bold;
  text-align: center;
}

.updateForm form,input{
  display: block;
  /* background-color: red; */
}

.updateForm input{
  width: 100%;
  padding: 1rem 0 1rem 0;
}



.updateForm button{

  margin: 3rem 1rem 0.5rem 0;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: var(--tart-orange);
  color: var(--baby-powder);
  border: none;
  border-radius: 10px;
}



/* update card */